---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact Us">
  <article>
    <h1>Contact Us</h1>
    <p>Email us here <a href="mailto:heritagerestoredabolition@gmail.com">heritagerestoredabolition@gmail.com</a></p>
  </article>
</Layout>