---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Donate">
  <article>
  <h1>Support Our Work</h1>
    <p>High quality video production is expensive! Consider helping us continue to advance the cause of Christ.</p>
    Our payment processor, Zeffy, will prompt you to support <i>them</i> with a default percentage. You can change that to 0 if you don't want to. You do not have to donate to Zeffy, but they operate by donations, too.
    <div style="position:relative;overflow:hidden;height:450px;width:100%;"><iframe title='Donation form powered by Zeffy' style='position: absolute; border: 0; top:0;left:0;bottom:0;right:0;width:100%;height:100%' src='https://www.zeffy.com/embed/donation-form/support-the-mission-7' allowpaymentrequest allowTransparency="true"></iframe></div>
  </article>
</Layout>