---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Donate">
  <h1>Support Our Work</h1>
  <p>High quality video production is expensive! Please consider helping us continue this work and advancing the cause of Christ with a one time donation or regularly.</p>
  <p>
    <a href="https://www.patreon.com/HeritageRestored" target="_blank">
      <img src="https://c5.patreon.com/external/logo/become_a_patron_button.png" alt="Become a Patron" style="max-width: 100%; height: auto;" />
    </a>
  </p>
</Layout>