---
import Layout from '../layouts/Layout.astro'
import PeopleList from '../components/PeopleList.jsx'

// Replace with your published Google Sheet CSV URL
const peopleUrl = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQAoRS1CRZZnE9X0d4icWe7OepYlM0Fw_bVfXdWg3fdbfpYQA2yf9dNzAwI2OI2D8yik7Z6ensNHWX5/pub?output=csv'
---

<Layout title="People">
  <h1>Our People</h1>
  <PeopleList client:load csvUrl={peopleUrl} />
</Layout>

