---
import Layout from '../layouts/Layout.astro'
import PeopleList from '../components/PeopleList.jsx'
import people from '../data/people.json';

---

<Layout title="People">
  <article>
    <h1>Our People</h1>
    <PeopleList client:load people={people} />
    <p class="back-to-top"><a href="#top">↑ Back to top</a></p>
  </article>
</Layout>

