---
// src/pages/resources.astro
import Layout from '../layouts/Layout.astro';
import ResourceList from '../components/ResourceList.jsx';
import PlaylistEmbed from "../components/PlaylistEmbed.astro";
import resources from '../data/resources.json';

---

<Layout title="Resources">
  <article>
    <h1>Resources</h1>
    <p>
      Heritage Restored generally supports all the ministries listed here but may
      not be in complete agreement on everything that ministry stands for.
    </p>

    <ResourceList client:load resources={resources} />
    <PlaylistEmbed playlistId="PLzfcgkHBc7S4s6Mn-kN771HGr_A5nYMze" />
    <p class="back-to-top"><a href="#top">↑ Back to top</a></p>
  </article>
</Layout>
