---
// src/pages/resources.astro
import Layout from '../layouts/Layout.astro';
import ResourceList from '../components/ResourceList.jsx';

const resourcesUrl = '/api/resources.csv';
---

<Layout title="Resources">
  <article>
    <h1>Resources</h1>
    <p>
      Heritage Restored generally supports all the ministries listed here but may
      not be in complete agreement on everything that ministry stands for.
    </p>

    <ResourceList client:load csvUrl={resourcesUrl} />
    <p class="back-to-top"><a href="#top">↑ Back to top</a></p>
  </article>
</Layout>
