---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resources">
  <h1>Resources</h1>
  <p>Here you'll find helpful links, articles, tools, and partner information that support restoration projects.</p>
</Layout>