---
// src/pages/resources.astro
import Layout from '../layouts/Layout.astro';
import ResourceList from '../components/ResourceList.jsx';

const SHEET_CSV_URL =
  'https://docs.google.com/spreadsheets/d/e/2PACX-1vQqkqC2AftoFR9eE3kbpFj9OJwoksCCLc2mAZ6lG5ACfq7vWbpkPsZ2RP7c8hWZC6vcS-bG4f-2qfeE/pub?output=csv';
---

<Layout title="Resources">
  <article>
  <h1>Resources</h1>
  <p>
    Heritage Restored generally supports all the ministries listed here but may
    not be in complete agreement on everything that ministry stands for.
  </p>

  <ResourceList client:load csvUrl={SHEET_CSV_URL} />
  </article>
</Layout>
